
<div class="page">
    <button style="margin-top: 0" pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-secondary" (click)="gotToAbsence('view/AdminNoteNote')"></button>
    <h1>Veuillez choisir l'espace que vous voulez</h1>
    <button (click)="gotToNote('view/myModule')" class="button">CREATION DES MODULES<span class="gg">-------------</span>
    </button>
    <button (click)="gotToAbsence('/view/filiere')" class="button">FILIERES/OPTIONS/AFFECTATION DES MODULES</button>
</div>